extends layout

block content
    h1= title
    form#formAddUser(name="users",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="email", name="email")
        input#inputFirstName(type="text", placeholder="firstName", name="firstName")
        input#inputLastName(type="text", placeholder="lastName", name="lastName")
        button#btnSubmit(type="submit") submit
